@media only  screen and (max-width:768px) {
    body{
        object-fit: cover;
        max-width: 100%;
        overflow-x: hidden;
    }
    nav ul{
        display: none;

    }
   
    .selling{ 
        opacity: 0;
        display: none;
    }
    .title{
        background: none;
        color: white;
   padding-left: 3rem;
    } 
    #who p{
        font-size: 8px;
        display: block;
    }
    .slide{
        width: 100px;
    }
}