@media only  screen and (max-width:768px){
    body{
        object-fit: cover;
        max-width: 100%;
        overflow-x: hidden;
    }
    nav ul{
        display: none;

    }
    nav{
        display:flex; 
        
    }
   
    .selling{ 
        opacity: 0;
        display: none;
    }
    
        .title{
            position: relative;
            width: 100%;
        }
    #who p{
        font-size: 20px;
        display: block;
    }
    #who{
        height:600px;
    }
    .slide{
        width: 100px;
    }
    .content{ 
       
        width: 500px;
        height: 400px;
      }
      .image-container{
        width: 200px;
      }
      .form{
        width: 300px;
      }
      .image-container img{
        margin-left: 0;
        width: 200px;
      }
}
@media only  screen and (max-width:592px){
    nav{
        position: relative;
    }
    #do p,#who p{
        width: 100%;
        padding: 30px;
    }
    #do h1, #who h1,footer h1{
        font-size: 1.7rem;
    }
    #do h2{
        font-size: 1.4rem;
    }
    footer{
        width: 100%;
        padding: 40px;
    }
    #wa-me button{
        font-size: 20px;
        padding-inline: 10px;
        width: fit-content;
    }
    .content{ 
        width: 300px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        color: white;
      }
      .image-container{
        width: 200px;
        display: none;
      }
     
      input{
        padding-inline: 0;
      }
      .image-container img{
        margin-left: 0;
        width: 200px;
      }
      .content form{
        background:none;
      }
      .content form{
        padding: 0;
      }
}