@media only  screen and (max-width:768px){
    body{
        object-fit: cover;
        max-width: 100%;
        overflow-x: hidden;
    }

    nav{
      width: 100%;
        position: fixed; 
        margin: 0;
        display: flex;
        justify-content: start;
        flex-direction: row;
    }
    nav li{
      display: none;
    }
    nav ul{
      display: flex;
      gap: 20px;
      right: 30px;
    }
    #us,#wh,#st,#ph{
      display: flex;
      flex-direction: row;
    }
   .selling button{
    display: none;
   }.selling img{
    width: 250px;
    height: 250px;
    animation: none;
   }
   .selling{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    height: 500px;
    margin-top: 5rem;
   }
    .selling h2{
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
    }
    .selling h3{
      font-size: 1rem;
      text-align: center;
    }
    .mid-span{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      margin-bottom: 3rem;
      color: white;
      animation: 1s float infinite;
    }
        .title{
            position: fixed;
            left: 0;
            font-size: 1rem !important;
        }
    #who p,#do p{
        font-size: 15px;
        display: block;
    }
    #who{
        height:800px;
    }
    .slide{
        width: 100px;
    }
    .content{ 
       
        width: 500px;
        height: 400px;
      }
      .image-container{
        width: 200px;
      }
      .form{
        width: 300px;
      }
      .image-container img{
        margin-left: 0;
        width: 200px;
      }
}
@media only  screen and (max-width:592px){
    #do p,#who p{
        width: 100%;
        padding: 10px;
    }
    #do h1, #who h1,footer h1{
        font-size: 1.7rem;
    }
    #do h2{
        font-size: 1.4rem;
    }
    footer{
        width: 100%;
        padding: 40px;
    }
    #wa-me button{
        font-size: 20px;
        padding-inline: 10px;
        width: fit-content;
    }
    .content{ 
        width: 300px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        color: white;
      }
      .image-container{
        width: 200px;
        display: none;
      }
     
      input{
        padding-inline: 0;
      }
      .image-container img{
        margin-left: 0;
        width: 200px;
      }
      .content form{
        background:none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .content form{
        padding: 0;
      }
      .skills{
       padding-block: 6rem;
      }
}