

.slide{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.slide img {
    padding: 2rem; /* Remova o padding para evitar o deslocamento das imagens */
    width: 200px; /* Ajuste a largura das imagens para preencher completamente o contêiner */
    height: auto;
    filter: grayscale(1);
    z-index: 1;
    transition: .5s ease-in;
}
.slide h3{
    margin-top: -1.5rem;
    transition: .5s ease-in;
}
.slideshow-container {
    padding: 50px;
    background-color: rgba(240, 255, 255, 0.179);
    border-radius: 1rem;
    max-width: 50rem;
    width: auto;
    margin: auto;
    position: relative; /* Adicione position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #ff59ba;
}
.skills{
    padding-block: 7rem;
    margin-top: 7rem;
    margin-bottom: -5rem;
}
.slide:hover{
    scale: 1.05;
    color: white;
    text-shadow: 1px 0px 2px crimson;
}
.slide img:hover{
    filter: grayscale(0);
}
@media  only screen and (max-width:768px) {
    .slideshow-container{
        display: grid;
        grid-template-areas: 1fr 1fr;
    }
}