

.slide{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: .3s ease;

}
.slide img {
    padding: 2rem; 
    width: 250px; 
    height: auto;
    filter: grayscale(1);
    z-index: 1;
    transition: .3s ease;

}
.slide h3{
    margin-top: -1.5rem;
    font-size: 1.5rem;
    transition: .3s ease;
}
.slideshow-container {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    flex-direction: row;
}
.skills{
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    color: white;
    height: 900px;
}
.slide:hover{
    scale: 1.05;
    color: rgb(255, 90, 167);
}
.slide img:hover{
    filter: grayscale(0);
}
@media  only screen and (max-width:768px) {
    .skills h1
    {
        font-size: 2rem;
    }
    .slideshow-container{
        padding: 5px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        z-index: 1;
        transition: .3 ease;
    }
    .slide h3{
        font-size: 1rem;
    }
   
    .slide img{
        filter: grayscale(0);
        width: 150px;
    }
    
}