  body{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    background: linear-gradient(-100deg,#000000 , #b0327b); 
    background-size: cover;
      font-family: 'Poppins', sans-serif; 
      margin: 0;
      padding: 0;
    }
    *, 
    *:after,
    *:before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
html{
  scroll-behavior: smooth;
  scrollbar-color: rgb(238, 130, 255);
}
.selling img{
display: flex;
width: auto;
min-width: 10rem;
max-width: 30rem;
max-height: 30rem;
animation: 6s slidein forwards,2s float ease-in-out infinite 6s;
overflow-x: hidden;
filter: drop-shadow(0 0 0.75rem rgb(143, 17, 42));
}
.selling a{
  text-decoration: none;
}
.selling button{
  transition: .5s ease;
  color: white;
  background: #000;
  top: 40rem;
  right: 15rem;
  position: absolute;
  padding: 10px;
  width: auto;
  max-width: 10rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid white;
  background: linear-gradient(90deg,rgb(0, 0, 0),#ff6bc1b4);
  animation:6s slidein-right forwards;
}
.selling button:hover{
  box-shadow: 1px 0px 10px #ff6bc1b4 ;
}
.selling{
    transition: .5s all;
  flex-direction: row;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-block-end: 21rem;
  padding-block-start: 18rem;
  overflow-x: hidden;
  color: white;
}
.selling em{ 
  text-shadow: -4px 0px 3px white;
  color: #ff59ba;
}
.selling h2{
  font-size: 50px;
  font-weight: 300;
  margin-left: 20rem;
  animation: 6s slidein forwards;
  overflow: hidden;
  width: auto;
}

@keyframes slidein{
  from{
    transform: translatey(-100rem);
  }to{
    transform: translatey(0);
  }
} 
@keyframes slidein-right{
  from{
    transform: translateX(150rem);
  }to{
    transform: translateX(0);
  }
} 
.title
{
  background: linear-gradient(to left, white 65%,rgb(255, 0, 119) 35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  .title a{
    text-decoration: none;
  }.title a:hover{
    animation: none;
  }

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
.title {
    text-align: center;
    font-weight: bolder;
    animation: popout 2s forwards;
    font-size: 2rem;
    margin: 0 auto;
}
nav{
  height: 3rem;
  top: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.426);
  backdrop-filter: blur(.5rem);
  color: white;
  flex-direction: row;
  display: inline-flex;
  transition: .5s ease-in-out;
  width: 100%;
  z-index: 1;
}
nav .title{
  left: 5px;
  position: fixed;
  font-size: 1.4rem;
  display: inline;
  flex-direction: row;
}
nav ul{
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: fixed;
  right: 0;
}
nav li{ 
  display: inline;
  padding: 10px;
}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: .5s;
}
nav ul a:hover{
  font-size: 1.250rem;
}
@keyframes colorchange{
  from{
    color: black;
  }
  to{
    color: white;
  }
} 
  span{
    margin-left: 6px;
  }
#wa-me{
  padding-top: 2rem;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in;
  margin-bottom: 4rem;
}
#wa-me button:hover:not(.insta){
  box-shadow:  0 1px 10px #d151af;
}
#wa-me h2{
  text-decoration: none;
  color: #ffffff;
  margin-top: 2rem;
  color: #ff59ba;
}

#wa-me button{
  width: 22rem;
  box-sizing: content-box;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: .5s ease;
}
#wa-me button:hover{
  scale: 1.125;
}
#who h1{
  padding-bottom: 25px;
  font-size: 3rem;
}
 #who p{
  color: #ffffff;
}
#do h2{
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding-bottom: 1.5rem;
}
#do h1{
  padding-bottom: 2rem;
  text-align: center;
  color: #ff59ba;
  font-size: 3rem;
}

#do{ 
  width: 100%;
   display:block;
  margin-top: 10rem;
  color: rgb(255, 255, 255);
  flex-direction: column;
}
#do li{
 padding: 10px;
  transition: 1.5s;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
#do span {
  background-color: white;
  content: '_';
  width: 10rem;
  margin-bottom: 2rem;
  margin-top: -1.3rem;
  color: white;
  height: 1px;
}
.restore{
  height: auto;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}
.video h2{
  margin-bottom: -4rem;
}
.video p{
  display: inline-block;
}
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




#do li{
  list-style:none;
   font-size: 2rem;
     text-align: center;
     padding-bottom: 2rem;
}
#who p{
  text-align: left;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}
#do p{
  display: inline-block; /* Ou use inline-flex, se necessário */
  width: 50%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
}
#wa-me p{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
#email p{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
#who{
  display: flex;
  align-items: center;
  justify-content: center;
    padding-top: 10rem;
     text-align: left;
     flex-direction: column;
}
#wa-me{
  padding-top: 3rem;
   color: #ffffff;
   text-align: center;
   flex-direction: column;
}
#wa-me h1{
  color: #ffffff;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-text {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}


  

  
  .container{
    display: block;
    max-width: 100%;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    }

  footer {
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
  }
  footer h1{
    font-size: 2.5rem;
  }
.mail{
  padding-top: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.mail button{
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 0);
  padding-inline: 1rem;
  cursor: pointer;
}
.mail button::after{
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/Download/arrowDown.svg);
  transform: rotate(180deg);
  transition:.25s linear;
  margin-left: 1rem;
}
  

  .content{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(100deg,#000000 , #b0327b);
    color: black;
    border: .5px solid white;
    transition:max-height 2s ease;
  }


  .content form{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .content{
    display: none; 
  
  }
  .open{
    display: block;  
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; 
 
  }    
  .open form{
    transition: 1s ease-in; 
     color: white;
  }
  input:not(#submit){
  
    width: 15rem;
    border-radius: 1rem;
    border: 1px solid rgb(0, 0, 0);
    padding-inline: 2rem  ;
    font-size: 17px;
  }
#submit{
     transition: .5s ease;
  padding: 4px;
  width: 80px;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid white;
}
#submit:hover{
  background: linear-gradient(90deg,rgb(0, 0, 0),#ff6bc1b4); 
   color:white;
}
.trigger:hover{

  background:radial-gradient(rgba(219, 63, 154, 0.291),white);
}
.trigger{
  transition: .5s ease;
}
#do h1,#who h1,#wa-me h1{
  animation: none;
}
.active{
  animation: popout2 1s forwards;
}
@keyframes popout2 {
  from{transform:scale(1)}
  80%{transform:scale(1.3)}
  to{transform:scale(1)}
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.348); 
  backdrop-filter: blur(.3rem);
  display: none; /* Ocultar por padrão */
}

.background-overlay .alert-container{
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25rem;
  left: 45rem;
  width: 400px;
  height: 200px;
  background: linear-gradient(160deg,rgb(59, 59, 59),#ff59ba);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.alert-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alert-box h2 {
  color: #ffffff;
  text-shadow:1px 0px 5px #000;
}

.alert-box p {
  color: #ffffff;
  text-shadow:1px 0px 5px #000;
  text-align: center;
}
.alert-box img{
  margin-top: 1rem;
  box-sizing: content-box;
  filter:drop-shadow( 0px 0px 4px #000);
}


.background-overload {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.348); 
  backdrop-filter: blur(.3rem);
  display: none; /* Ocultar por padrão */
}

.background-overload .alert-container {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25rem;
  left: 45rem;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 1rem;
}

#backgroundOverlayLoading img{
  width: 50px;
  height: 50px;
}
 h1{
  text-align: center;
  font-size: 3rem;
  color: rgb(255, 86, 173);
  text-decoration: underline 1px;
}